@font-face {
    font-family: 'amithin';
    src: url('amithen-webfont.woff2') format('woff2'),
         url('amithen-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
