body {
    background-color: black;
}
.photo {
    border:4px solid #21ff85;
    border-radius: 50px;
    background-color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;    
    box-shadow: 0 5px 20px rgba(175, 165, 165, 0.4);
}


.test {
    font-family: amithin;
    font-size: 30px;
    text-align: center;
    color: #21ff85;
    padding-top:20px;
}
.line {
    text-align: center;
    width: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.test {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
.photo {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  
}
.my {
  margin-top: 10px;
  color: #21ff85;
  font-family: amithin;
  font-size: 25px;
  text-align: center;
  
}
.icon img{
  height: 5%;
  margin-left: 5%;
  border-bottom: #21ff85 solid;
  margin-bottom: 10px;
}
.box {
  border: #21ff85 solid;
  border-radius: 25px;
  margin: auto;
  width: 50%;
  padding: 10px;
  box-shadow: 0 5px 20px rgba(175, 165, 165, 0.4);
}
ion-icon {
  color:#21ff85;
  font-size: 80px;
  
}
.ic1 {
  float: left;
}
.ic2 {
  float: right;
  transform: scaleX(-1);
}
